{% extends 'base.html' %}

{% set title="Stan magazynu" %}
{% set active_page="store" %}

{% block content %}

    <p class="fs-3">Stan konta: {{ amount_in_account }}</p>

    <p class="d-flex justify-content-center fs-3 fw-bold mb-1">Stan magazynu</p>
    <div class="w-100">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Lp.</th>
                <th scope="col">Nazwa produktu</th>
                <th scope="col">Cena</th>
                <th scope="col">Ilość</th>
            </tr>
            </thead>
            <tbody>
            {% for product in warehouse %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ product.name_of_product.capitalize() }}</td>
                    <td>{{ product.price_of_product }}</td>
                    <td>{{ product.amount_of_product }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
